on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: integration-tests

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - "2025.09.0" # jammy
          - "2025.03.0" # jammy
          - "2024.09.0" # jammy
          - "2024.03.0" # jammy
          - "2023.09.0" # jammy
          - "2023.03.0" # bionic
          - "2022.10.0" # bionic
    name: Connect ${{ matrix.version }}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::.

      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
        shell: Rscript {0}

      - name: Run integration tests
        uses: nealrichardson/with-connect@dev
        with:
          connect-version: ${{ matrix.version }}
          connect-license: ${{ secrets.CONNECT_LICENSE_FILE }}
          # TODO: rewrite tests to use CONNECT_* env vars directly
          command: |
            Rscript -e '
              Sys.setenv(
                CONNECTAPI_INTEGRATED="true",
                TEST_1_SERVER=Sys.getenv("CONNECT_SERVER"),
                TEST_1_API_KEY=Sys.getenv("CONNECT_API_KEY")
              )
              source("tests/test-integrated.R")'
